<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>

<% @tweets.each do |e| %>
    <p>
    <%= e.message %>
    <%= ((Time.current - e.tdate) / 60).to_i.to_s + '分前' %>
    <%= link_to '削除', tweet_path(e), method: :delete %>
    <%= link_to '表示', tweet_path(e) %>
    <%= link_to '編集', edit_tweet_path(e) %>
    </p>
<% end %>

<p><%= link_to '新規追加', new_tweet_path %></p>
